<div style="margin: 5%;">

  <h3>Subir archivo</h3>
  <mat-divider></mat-divider>
<!--50000000=50MB  [maxFileSize]="50000"-->
  <br><br>  
  <ngx-dropzone (change)="onSelect($event)"   [multiple]="false"  class="dropzone"  >
    
    <ngx-dropzone-label>
      <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 50px;">
       cloud_upload
      </mat-icon>
      <br>
      <span class="info">Arrastre y suelte un archivo aquí o haga click!</span>
      <mat-error *ngIf="grande" style="font-size: 12px;">
        Excede el tamaño de 50MB.
      </mat-error>
      
    </ngx-dropzone-label>

    <ngx-dropzone-preview  *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" class="preview">
      <ngx-dropzone-label >{{ f.name }}</ngx-dropzone-label>
    </ngx-dropzone-preview>

    

  </ngx-dropzone>
 


  <form [formGroup]="form">

    <br>
    <mat-form-field appearance="outline" class="central-field">
      <mat-label>Titulo</mat-label>
      <input matInput placeholder="Titulo" formControlName="input1">
      <mat-error *ngIf="form.get('input1').hasError('required')">
        Este campo es requerido.
      </mat-error>
    </mat-form-field>
    
    <br>
    <mat-form-field appearance="outline" class="central-field">
      <mat-label>Descripcion</mat-label>
      <input matInput placeholder="Descripcion">
    </mat-form-field>

    <br>
    <mat-form-field appearance="outline" class="right-field">
      <mat-label>Escuela</mat-label>
      <mat-select formControlName="select1">
        <mat-option value="one">Sistemas</mat-option>
        <mat-option value="two">Software</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('select1').hasError('required')">
        Este campo es requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="left-field">
      <mat-label>Plan de estudio</mat-label>
      <mat-select formControlName="select2" [disabled]="form.get('select1').hasError('required')">
        <mat-option value="one">2015</mat-option>
        <mat-option value="two">2018</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('select2').hasError('required')">
        Este campo es requerido.
      </mat-error>
    </mat-form-field>

    <br>
    <mat-form-field appearance="outline" class="right-field">
      <mat-label>Ciclo academico</mat-label>
      <mat-select formControlName="select3" [disabled]="form.get('select2').hasError('required')">
        <mat-option value="one">Ciclo 1</mat-option>
        <mat-option value="two">Ciclo 2</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('select3').hasError('required')">
        Este campo es requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="left-field">
      <mat-label>Curso</mat-label>
      <mat-select formControlName="select4" [disabled]="form.get('select3').hasError('required')">
        <mat-option value="one">Matematica Basica 1</mat-option>
        <mat-option value="two">Patrones de diseño</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('select4').hasError('required')">
        Este campo es requerido.
      </mat-error>
    </mat-form-field>

  </form>

  <button mat-raised-button color="primary" class="button2" [disabled]="form.invalid || !files[0]" (click)="Guardar()">Subir archivo</button>
  <br><br>


</div>

